@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;900&display=swap");
body {
  padding: 0;
  margin: 0;
  background: #000;
}

* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/****** 공통 적용 ******/
/****** 폰트 ******/
/****** 섹션 시작 ******/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 30px 0;
}
header .header-inner {
  width: 1520px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1520px) {
  header .header-inner {
    width: 100%;
  }
}
header .header-inner .menu-btn {
  width: 25px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 6px;
  margin: 0 auto;
  margin-right: 0;
  cursor: pointer;
}
header .header-inner .menu-btn span {
  width: 100%;
  height: 2px;
  display: block;
  background: #fff;
}
header .header-inner .menu-btn span:nth-child(2) {
  width: calc(100% - 8px);
}
@media (max-width: 1520px) {
  header {
    width: calc(100% - 15px);
  }
}

.fix-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: fixed;
  z-index: 99;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.fix-con span {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.fix-con span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -10px;
  top: -9px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0;
  border-top: 0;
}
.fix-con.top-fix {
  left: 30px;
  top: 30px;
}
.fix-con.bot-fix {
  right: 30px;
  bottom: 30px;
  -webkit-transform: scaleX(-1) scaleY(-1) translateZ(0);
          transform: scaleX(-1) scaleY(-1) translateZ(0);
}

.all-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: #eee;
}
.all-menu .back-txt {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 120px 0 0 0;
}
.all-menu .back-txt h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 -60px;
  font-size: 20vw;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -24px;
}
.all-menu .back-txt h1 .plus {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.all-menu .back-txt h1 .plus::before, .all-menu .back-txt h1 .plus::after {
  content: "";
  position: absolute;
}
.all-menu .back-txt h1 .plus::before {
  width: 100%;
  height: 50px;
  background: #fff;
}
.all-menu .back-txt h1 .plus::after {
  width: 50px;
  height: 100%;
  background: #fff;
}
.all-menu .back-txt h1 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.all-menu .back-txt h1 p span {
  display: block;
}

.container_wide {
  overflow: hidden;
}
.container_wide .section01 {
  height: 100vh;
  position: relative;
  margin-bottom: 360px;
}
.container_wide .section01-inner {
  width: 1520px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1520px) {
  .container_wide .section01-inner {
    width: 100%;
  }
}
.container_wide .section01-inner .txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.container_wide .section01-inner .txt-box h1 {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 250px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  letter-spacing: -17px;
}
.container_wide .section01-inner .txt-box h1 span {
  display: block;
  position: relative;
}
.container_wide .section01-inner .txt-box h1 span:first-child {
  font-size: 300px;
}
.container_wide .section01-inner .txt-box h1 span::before, .container_wide .section01-inner .txt-box h1 span::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  font-size: inherit;
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 0;
}
.container_wide .section01-inner .txt-box h1 span::before {
  left: -32%;
  z-index: -1;
}
.container_wide .section01-inner .txt-box h1 span::after {
  left: -64%;
  z-index: -2;
  -webkit-text-stroke: 1px rgba(223, 46, 56, 0.5);
}
.container_wide .section01-inner .txt-box h1::after {
  content: "";
  width: 10px;
  height: 105%;
  position: absolute;
  left: -16px;
  bottom: 97%;
  background: #fff;
}
.container_wide .section01-inner .txt-box p {
  margin-left: 250px;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
}
.container_wide .section01-inner .txt-box::after {
  content: "";
  width: calc(100% - 850px);
  height: 20px;
  position: absolute;
  right: 0;
  background: #DF2E38;
}
.container_wide .section01-inner .con-box {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: 50%;
  right: -10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.container_wide .section01-inner .con-box li {
  height: 250px;
  position: relative;
  counter-increment: li-counter;
  overflow: hidden;
}
.container_wide .section01-inner .con-box li span {
  display: block;
}
.container_wide .section01-inner .con-box li::before {
  content: counter(li-counter, decimal-leading-zero);
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.container_wide .section01-inner .con-box li.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container_wide .section01-inner .con-box li.square span {
  width: calc(100% - 50px);
  height: 20px;
  background: #fff;
}
.container_wide .section01-inner .con-box li.square span:first-child {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-right: 20px;
}
.container_wide .section01-inner .con-box li.square span:last-child {
  margin: 0 0 20px 0;
}
.container_wide .section01-inner .con-box li.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.container_wide .section01-inner .con-box li.line span {
  width: 1px;
  height: 100%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  background: #DF2E38;
}
.container_wide .section01-inner .con-box li.x span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 20px 0 0 0;
  overflow: hidden;
}
.container_wide .section01-inner .con-box li.x span::before, .container_wide .section01-inner .con-box li.x span::after {
  content: "";
  width: calc(100% - 200px);
  height: 100%;
  position: absolute;
  background: #DF2E38;
}
.container_wide .section01-inner .con-box li.x span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.container_wide .section01-inner .con-box li.x span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.container_wide .section01-inner .con-box li.dot {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.container_wide .section01-inner .con-box li.dot span {
  width: 5px;
  height: 5px;
  margin: 30px 0 0 3px;
  background: #fff;
  border-radius: 50%;
}
.container_wide .section02 {
  height: 100vh;
  position: relative;
}
.container_wide .section02 .back-txt {
  width: 100%;
  height: 100%;
  position: relative;
}
.container_wide .section02 .back-txt > div:first-child h1 {
  line-height: 1;
  position: relative;
  font-size: 555px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
}
.container_wide .section02 .back-txt > div:first-child h1::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 80px;
  background: rgba(255, 255, 255, 0.2);
}
.container_wide .section02 .back-txt > div:first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34%;
  right: 30%;
}
.container_wide .section02 .back-txt > div:first-child > div p span {
  font-size: 300px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  letter-spacing: -19px;
}
.container_wide .section02 .back-txt .line-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  padding: 0 0 0 60px;
}
.container_wide .section02 .back-txt .line-wrap span {
  display: block;
}
.container_wide .section02 .back-txt .line-wrap .line {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
}
.container_wide .section02 .back-txt .line-wrap .line-1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container_wide .section02 .back-txt .line-wrap .line-1 span:first-child {
  width: 1px;
  height: 400px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background: rgba(255, 255, 255, 0.2);
}
.container_wide .section02 .back-txt .line-wrap .line-1 span:nth-child(2) {
  width: 10px;
  height: 100px;
  background: #fff;
}
.container_wide .section02 .back-txt .line-wrap .line-1 span:last-child {
  width: 5px;
  height: 80px;
  margin: 100px 0 200px;
  background: #fff;
}
.container_wide .section02 .back-txt .line-wrap .line-2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}
.container_wide .section02 .back-txt .line-wrap .line-2 span:first-child {
  width: 1px;
  height: 500px;
  background: #fff;
}
.container_wide .section02 .back-txt .line-wrap .line-2 span:nth-child(2) {
  width: 1px;
  height: 250px;
  background: rgba(255, 255, 255, 0.5);
}
.container_wide .section02 .back-txt .line-wrap .line-2 span:last-child {
  width: 1px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
}
.container_wide .section02 .back-txt .line-wrap .line-3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  margin-left: 100px;
}
.container_wide .section02 .back-txt .line-wrap .line-3 span:first-child {
  width: 5px;
  height: 30px;
  background: #fff;
}
.container_wide .section02 .back-txt .line-wrap .line-3 span:last-child {
  width: 2px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
}
.container_wide .section02 .back-txt .line-wrap .line-4 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
  margin-left: 50px;
}
.container_wide .section02 .back-txt .line-wrap .line-4 span:first-child {
  width: 1px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2);
}
.container_wide .section02 .back-txt .line-wrap .line-4 span:nth-child(2) {
  width: 1px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
}
.container_wide .section02 .back-txt .line-wrap .line-4 span:nth-child(3) {
  width: 1px;
  height: 50px;
  background: rgba(255, 255, 255, 0.7);
}
.container_wide .section02 .back-txt .line-wrap .line-4 span:last-child {
  width: 1px;
  height: 10px;
  background: #fff;
}
.container_wide .section02-inner {
  width: 1520px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1520px) {
  .container_wide .section02-inner {
    width: 100%;
  }
}
.container_wide .section02-inner .txt-box {
  width: 100%;
  height: 100%;
}
.container_wide .section02-inner .txt-box .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.container_wide .section02-inner .txt-box .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 20px;
}
.container_wide .section02-inner .txt-box .left ul:first-child {
  -webkit-transform: scaleY(-1) scaleX(-1);
          transform: scaleY(-1) scaleX(-1);
  margin: 0 0 0 272px;
  padding: 0 0 150px 0;
}
.container_wide .section02-inner .txt-box .left ul li {
  position: relative;
}
.container_wide .section02-inner .txt-box .left ul li::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  right: 11px;
  bottom: -18px;
  background: #DF2E38;
  border-radius: 50%;
}
.container_wide .section02-inner .txt-box .left ul li:last-child::after {
  display: none;
}